{% extends "layout.twig" %}

{% block content %}
    <h1>le super blog</h1>
    <section>
            <article>
                <h2>{{ article.title }}</h2>
                <p>
                    {{ article.body }}
                </p>
                <section>
                    <h2>Commentaires :</h2>
                    {% if comments is defined and comments is not empty %}
                        <ul>
                            <!-- liste de commentaires -->
                        </ul>
                    {% endif %}
                    {% if user is not empty %}
                    <h3>Ajouter un commentaire</h3>
                    <form action="" method="post">
                        <textarea></textarea>
                        <input type="submit" value="Poster">
                    </form>
                    {% endif %}
                </section>
            </article>
    </section>
{% endblock %}